<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>

<body>

 

    <%- include('../partials/nav.ejs') %>

    <main class="container">
        <h1 class="page">Welcome to my task page</h1>

        <section>
            <% if(tasks.length){ %>
                <% tasks.map((tasks)=>{%>
                    <a href="/api/v1/route/<%- tasks._id  %>">
                    <h2> <%= tasks.name %> </h2>
                    <p> <%= tasks.tasks %> </p>
                    <p> <%- tasks._id %> </p>
                    </a>

                    <%})%>

        
            <% }else{ %>
                <h1 class="display">No Tasks To Display Yet</h1>
                <% } %>
             

                
            </section>
            <div class="index">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur voluptatem aut adipisci excepturi iusto distinctio! Nulla ad culpa totam aliquid ab dolorem at laboriosam labore. Itaque nesciunt hic sint dolorem architecto deserunt quis quos debitis exercitationem praesentium aliquam harum magni sed ipsam facilis, minus dicta quo tempore. Unde ex inventore quos quae molestiae ducimus quis, maxime ad? Eligendi voluptatum, dicta, facere maiores doloribus ab dolorem suscipit blanditiis at a enim sint inventore quasi eos recusandae quam culpa beatae libero itaque, ea nemo facilis. Vel hic ratione aliquam praesentium, recusandae deserunt cumque, soluta quo error neque dignissimos, eligendi corporis incidunt? Dicta explicabo nulla alias pariatur beatae asperiores ipsum et qui soluta blanditiis commodi animi odit error, vero, nemo, voluptatem reprehenderit eos facere tempora suscipit atque? Unde tempore sapiente non excepturi, ab maiores laborum molestiae nam, dolores reprehenderit ipsam modi, officiis et iure. Corrupti unde, adipisci alias pariatur ex dolorum? Nemo, aliquam provident! Esse, deserunt corrupti quisquam molestias dolore a expedita quibusdam delectus quia voluptatum rerum pariatur dolor voluptate tempora, ex, accusamus natus repudiandae consequatur quidem harum aut. Et alias enim in, odio labore maiores corporis perferendis vero possimus voluptatibus recusandae aut vel magni! Minima ipsa in accusamus voluptatibus sint placeat! Quis, iure quasi explicabo fugit numquam expedita voluptatem eaque consequatur! Laborum, accusantium optio ex molestias doloribus impedit dicta rerum! Corporis, quis voluptate? Dolore distinctio inventore, debitis aut beatae sint explicabo hic nesciunt, repellendus culpa similique! Deleniti voluptates aperiam asperiores mollitia id sequi nulla dicta vitae corporis saepe delectus, dolore officia illo molestias eveniet nesciunt odit aspernatur modi fugiat. Necessitatibus voluptatum, quasi earum eum est laboriosam nobis tenetur pariatur amet fuga quia atque obcaecati quas? Odio soluta laboriosam eligendi facilis debitis aliquid earum quibusdam facere, nemo dolorum illo obcaecati eveniet libero quam excepturi ipsa doloremque placeat tenetur perspiciatis temporibus dolor iusto possimus.</p>
    </main>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>